<div class="col-sm-6" id="photo_<%= photo.id %>">
    <div class="polaroid">
        <%= image_tag photo.thumb_url, class: 'img-responsive' %>
        <div class="polaroid-btns">
          <% if photo_in_cart?(photo) %>
            <%= link_to 'In Cart', '#', class: "btn btn-primary disabled" %>
          <% else %>
              <%= simple_form_for [:regular, order_item], remote: true, :html => { :class => 'block-inline add-to-cart-form' } do |f| %>
                  <%= f.hidden_field :photo_id, value: photo.id %>
                  <%= f.submit "Add to Cart", class: "btn btn-primary" %>
              <% end %>
          <% end %>
          <button type="button" class="btn btn-default">Enlarge <span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
</div>