<!DOCTYPE html>
<html>
<head>
  <title>Sportphotoz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% flash.each do |name,msg| %>
      <%= content_tag :div, msg, class: "alert alert-info"  %>
  <% end %>
</div>
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to image_tag("logo.png", class: "brand", style: "margin-top: 10 px;"), root_path %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "As Admin", admin_marathons_path %></li>
      <li><%= link_to "As User", regular_marathons_path %></li>
      <li><%= link_to "Contact Us", contacts_path %></li>
      <li><%= link_to "About", pages_about_path %></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
